body{background-color:#F8F8FF;
}
p.name_logout{

text-align:right;
padding:1px;
color:white;
font-size:14px;
}
p.ntt_logo{
color:blue;
font-size:18px;
padding:3px;
font-family:"Cambria" san sarif;
}
div.ntt_logo_box{
width:82px;
height:18px;
background-color:#E5E4E2;
margin-top:2px;
margin-left:3px;


}
div.Section_one_top{
max-width:1200px;
height:115px;
}
div.div1_head_blue{
max-width:1200px;
height:77px;
background-color:#335795;
margin-bottom:0px;
}
div.div2{
max-width:1200px;
height:35px;
background-color:black;
}

div.section_two_body{
margin-top:6px;
max-width:1200px;
height:740px;
}
div.div3{
max-width:1200px;
height:40px;
background-color:#335795;

}
div.div4{

margin:6px 3px 3px 3px;
max-width:1195px;
max-height:1000px;
padding:4px;
}

div.containerID_box{
height:100px;
margin-top:90px;
border:1px solid #413D3D;
padding:4px;
}

div.Blue_body_banner{
padding:4px;
max-width:1195px;
height:30px;
background-color:#335795;
margin-top:2px;
}
div.search_filter{
display:flex;
padding:4px;
max-width:1195px;
height:100px;
margin-top:10px;
margin-left:3px;
button.button_color{
color:#335795;}
}
div.disp2{
margin-top:80px;
margin-left:60px;
width:80px;
height:100px;
border: 4px solid #335795;
padding:2px;
}
div.icons{
display:flex;
display-content:center;
max-width:1195px;
height:400px;
}
